.global {
  display: grid;
  gap: 20px;
  align-items: center;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  padding: 1rem;
}

.globaltext {
  display: grid;
  gap: 23px;
  text-align: left;
  padding-left: 14px;
  padding-right: 15px;

}

.globaltext h1 {
  color: #0e0e5e;
  font-size: 37px;
  font-weight: bold;
  line-height: 3rem;
}

.abutton {
  padding: 10px 20px;
  color: white;
  background-color: #ff9100;
  width: 100%;
  border-radius: 6px;
  text-align: center;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buttonarrow {
  font-size: 1.5rem;
  line-height: 2rem;
}
.svghero {
  width: 80%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .bg {
    background: transparent url("/images/herobg.svg") 0% 0% no-repeat
      padding-box;
  }
  .global {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    @apply container mx-auto;
  }
  .globaltext h1 {
    color: #0e0e5e;
    font-size: 40px;
  }
  .abutton {
    width: 20rem;
  }
  .svghero {
    width: 100%;
  }
  .svgparceiros {
    justify-content: flex;
    grid-column: 1 / -1;
    justify-self: end;
  }
}
