.block1{

}
.block2{

}
.block3{

}
.block4{
    background: var(--unnamed-color-2979ff) 0% 0% no-repeat padding-box;
    box-shadow: 4px 20px 50px #135AF766;
    opacity: 1;

}
.div2{
    display: flex;
    
}