.SobreNos {
  color: orange;
  margin-bottom: 1px;
  font-size: 22px;
}
.titulo {
  color: #0E0E5E;
  margin-bottom: 20px;
  font-size: 37px;
  
}
.paragrafo {
  color: rgb(16, 16, 77);
  margin-bottom: 20px;
  line-height: 2rem;
}
.numeros {
  display: flex;
  color: #0E0E5E;
  font-size: 30px;
  font-weight: 700;
}
.descricao {
  display: flex;
  color: #0E0E5E;
}
.n1 {
  margin-right: 120px;
  padding-left: 18px;
}
.n2 {
  margin-right: 120px;
}
.p1 {
  margin-right: 85px;
}
.p2 {
  margin-left: 24px;
}
.p3 {
  margin-left: 120px;
}
.section {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  
  height: 100vh;
  align-items: center;
  
}
.div2 {
  margin-left: 30px;
  padding-right: 20px;
  
}
.div1 {
  background: transparent;
  
  
  
}

