.SobreNos {
  color: orange;
  margin-bottom: 1px;
}
.titulo {
  color: blue;
  margin-bottom: 20px;
  font-size: 29px;
}
.paragrafo {
  color: blue;
  margin-bottom: 20px;
}
.numeros {
  display: flex;
  color: blue;
  font-size: 25px;
}
.descricao {
  display: flex;
  color: blue;
}
.n1 {
  margin-right: 120px;
  padding-left: 18px;
}
.n2 {
  margin-right: 120px;
}
.p1 {
  margin-right: 85px;
}
.p2 {
  margin-right: 100px;
}
.p3 {
}
.section {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
